.eventColor_ECON111 {
  color: #ffffff;
  background-color: #00263A;
}

.eventColor_ACCG100 {
  color: #ffffff;
  background-color: #009CBD;
}

.eventColor_ACCG224 {
  color: #ffffff;
  background-color: #78AA00;
}

.eventColor_BUSL250 {
  color: #333333;
  background-color: #FFCD00;
}

.eventColor_ACST201 {
  color: #ffffff;
  background-color: #BE3A34;
}
